@import "compass_twitter_bootstrap";

#watch7-player {
    position: relative;
    overflow: hidden;
    width: 540px;
    height: 315px;
    margin: 1.5em auto;
    background: black;
    color: white;
    text-align: center;
}
#movie_player {
    position: relative;
    width: 100%!important;
    height: 100%!important;
    background: white;
}

#dumb-video-callout {
    height: 90px;
    padding: 5em 0;
    background: url(../images/arrow.png) no-repeat bottom center;
}